@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/style/global.module.css";


/* --------------scroll bar style-------------- */

::-webkit-scrollbar {
	width: 0.675rem;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(25px);
	/* #ff9279 */
}

::-webkit-scrollbar-thumb {
	background: #5c5c5c;
}

body {
	/* color: var(--foreground);
  background: var(--background); */
	/* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* -------captcha------------ */
.grecaptcha-badge{
	opacity: 0;
}

.g__container {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	font-family: "Barlow", sans-serif;
	font-size: 64px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
}

h2 {
	font-family: "Barlow", sans-serif;
	font-size: 48px;
	line-height: 1.4;
	font-weight: 700;
}

.g__mobile-container {
	padding: 0 10px;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
	}
}





button {
	outline: 0;
  }
  button.active {
	outline: 0;
  }
  
  button.send {
	/* border: 2px solid #fff; */
	color: white;
	border-radius: 0.375rem;
	padding: 25px 120px;
	background: #fa9d00;
	position: relative;
	overflow: hidden;
	transform: translateY(-50%);
	margin-top: 20px;
  }
  button.send .text {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%) ;

  }
  button.send .text.active {
	transform: translate(-50%,-350%) scale(0);
	transition: 0.30s cubic-bezier(0.34, -0.61, 1, 0.64);
  }
  button.send.active {
	padding: 8px 120px;
	transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
  }
  button.send .loader {
	position: absolute;
	width: calc(0% - 4px);
	height: calc(100% - 4px);
	background-color: #744900;
	left: 2px;
	top: 2px;
	border-radius:  0.375rem;
  }
  button.send .loader.active {
	width: calc(100% - 4px);
	transition: 1.3s ease-in-out;
	transition-delay: 0.5s;
  }
  button.send .done {
	color: #fff;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,300%) scale(0) ;
  }
  button.send .done.active {
	
	transform: translate(-50%,-50%)  scale(1);
	transition: 0.45s cubic-bezier(0.34, -0.61, 1, 0.64);
  }
  button.send.finished {
	padding: 25px 120px;
	transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
  }
 
